{% extends "jaguarete/layout.html" %} {% block body %} {% load static %}

<h3>ACERCA DE NOSOTROS..</h3>
<img id="iacercade" src="{% static 'img/iacercade.jpg' %}" />

<aside id="sec_aside">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie
    varius libero, id mollis massa vulputate facilisis. Ut pretium dolor
    porttitor hendrerit posuere. Proin vulputate nulla ut nunc pellentesque, in
    condimentum sapien tempor. Vivamus finibus sit amet nibh ac vehicula.
    Vestibulum nibh nunc, fringilla a libero et, blandit ullamcorper ex. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Suspendisse potenti. Nunc pellentesque sagittis neque quis
    porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Etiam condimentum congue libero, hendrerit ultrices
    mi tempor eu.
  </p>
  <br />
</aside>

{% endblock %}
